  <!-- FOOTER -->
  <footer class="container">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>&copy; 2017-2021 Company, Inc. &middot; <a target="_blank" href="https://polygonscan.com/address/0x1b077fac8897ad615b9cef1ce0d4662733eb77a0">Address contract</a> &middot; <a target="_blank" href="https://t.me/rormeno75">Contacto</a></p>
  </footer>