  <!-- FOOTER -->
  <footer class="container">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>&copy; 2017-2021 Company, Inc. &middot; <a target="_blank" href="https://mumbai.polygonscan.com/address/0xc88334E3F5Ce39F8b234E5bbfb825dc6061C3DFd">Address contract</a> &middot; <a target="_blank" href="https://t.me/rormeno75">Contacto</a></p>
  </footer>