<header>
  <nav class="navbar navbar-light bg-light fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="./img/detalle7.png" width="40" height="40" class="d-inline-block" alt="">
        <span class="font-weight-bold">El Jardín de las Delicias</span>
         
      </a>
      <div class="d-flex">
        <button id="enableEthereumButton" class="btn btn-warning text-white d-none">Conectar Metamask</button>
        <p id="accountSelected" class="text-dark p-1o"></p>
      </div>
    </div>
  </nav>
</header>